* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 
  }
  #wrapper {
    width: 500px;
    margin: 0 auto;
}
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  
  button {
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }f
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }